html {
  height: 100%;
  background: url("southpark.jpg") no-repeat center center;
  background-size: cover;
}

body {
  background: none;
}

h1, h2, h3, h4, p{
  color: black;
}



h1 {
  text-align: center;)
}

h2 {
  font-size: 24px;
  margin-left: 16px;
}

h3 {
  text-align: left;
  padding-left: 125px;
}

h4 {
  position: left;
  clear: both;
}

#paragraph {
  position: center;
  clear: both;
}

.row::after { 
   content: "";
   display: block; 
   clear: inherit;
}

#guess{
  color: black;
  font-size: 24px;
}

#computerScore{
  margin-left: 20px;
  color: white;
  font-size: 24px;

}

#compNum {
   margin-left: 40px;
  color: black;
  font-size: 24px;
}

#gamecounter {
float: left;
clear: left;
}

.southpark {
  margin-left: 16px;
  float: left;
}


#scoreCount {
float: left;
clear: left;
}

#scoreNum, #winCount, #loseCount {
color: black;
  font-size: 24px;
}

#scoreCount {
  margin-left: 40px;

}
#scoreNum{
  margin-left: 175px;
}

#message{
  color: black;
  font-size: 24px;
  margin-left: 150px;
}

.btn {
  margin-left: 20px;

}

}
  
